.Menu {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100px;
  position: absolute; /* posiciona o elemento em relação ao seu container */
  top: 0; /* define a posição superior como 0 */
  left: 0; /* define a posição esquerda como 0 */
}

.botoes {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100px;
  margin: 0px 15px auto;
  

}

.botao1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 45px;
  width: 100px;
  margin: 30px 35px auto;
  color: black;
  border-radius: 15px;
  cursor: pointer;

}

.botao2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 45px;
  width: 100px;
  margin: 30px 0px auto;
  color: black;
  border-radius: 15px;
  cursor: pointer;

}

.botao3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 45px;
  width: 100px;
  margin: 30px 35px auto;
  color: #000;
  border-radius: 15px;
  cursor: pointer;

}

.botao4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 45px;
  width: 100px;
  margin: 30px 35px auto;
  border-radius: 40px;
  color: #000;
  cursor: pointer;


}

.botao5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 45px;
  width: 100px;
  margin: 30px 5px auto;
  margin-left: 20px;
  color: #000;
  border-radius: 15px;
  cursor: pointer;
  
}

.botao6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 45px;
  width: 100px;
  margin: 30px 5px auto;
  margin-right: 45px;
  color: #000;
  border-radius: 15px;
  cursor: pointer;

}

.pesquisar{
  background-color: rgb(0, 0, 0);
  height: 100px;
  width: 50%;
  margin: 30px 5px auto;
  margin-top: 0px;
  cursor: pointer;
}

  form {
  display: flex;
  align-items: center;
  }

  input {
  display: flex;
  width: 100% ;
  height: 33px;
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 30px;
  }

  button {
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px 10px;
  border: 1px solid #cccccc00;
  background-color: #fc000000;
  color: #ffffff;
  cursor: pointer;
  }

.titulo {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 132px;
  margin-top: 160px;
  margin-left: 15%;

}

h1 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 54px;
font-style: oblique;
color:rgb(37, 37, 37)
}


.linha {
  display: flex;
  border-top: 1px solid grey;
  width: 80%;
  margin: 0px auto;
  margin-top: 70px;
}

.street {
  display: flex;
  margin: 10px auto;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(77, 74, 74);
}

.produtos1 {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  height: 400px;
  width: 80%;
  margin: 0px auto;
}

.produtos2 {
  display: flex;
  background-color: rgba(0, 0, 255, 0);
  height: 400px;
  width: 80%;
  margin: 100px auto;
}

.produtos3 {
  display: flex;
  background-color: rgba(0, 0, 255, 0);
  height: 400px;
  width: 80%;
  margin: 0px auto;
}

.rodape {
  display: flex;
  background-color: #000;
  height: 150px;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: 90px;
}

footer {
  color: #fff;
  font-size: large;
  position:absolute;
  margin: 40px auto;
}


.produto11 {
  color:rgba(250, 250, 250, 0);
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

.produto12 {
  color:white;
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

.produto13 {
  color:white;
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

.produto21 {
  color:white;
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

.produto22 {
  color:white;
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

.produto23 {
  color:white;
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

.produto31 {
  color:white;
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

.produto32 {
  color:white;
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

.produto33 {
  color:white;
  display: flex;
  margin: 10px 10px auto;
  height: 95%;
  width: 33%;
  cursor: pointer;
}

#moto {
  display: flex;
  margin: 10px 10px auto;
  height: 80%;
  width: 95%;
  background-color: rgba(128, 0, 128, 0);
}

button:hover{
  transform: scale(1.06);
  transition: transform 0.2s ease-in-out;

  }


img {
  object-fit: contain;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgb(44, 43, 43);
  display: flex;
  margin-top: 300px;
  margin-left: -320px;

}

a {
  text-decoration: none;
}