

    .back {
        width: 85%;
        height: 650px;
        position:absolute;
        top: 0px;
        left: 7%;
        right: 7%;        
        margin-top: 200px;
        border-radius: 30px;
        padding: 2px;
        
    }

    .venda{
      position: absolute;
      height: 600px;
      width: 650px;
      margin-left: 55%;
      top: 0px;
      border-radius: 40px;
      background-color: rgba(68, 68, 68, 0.034);
    }


    .comp {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 40%;
        height: 100%;
    }

    .espc {
        position: absolute;
        width: 80%;
        height: 70px;
        top: 830px;
        left: 190px;
        align-items: center;
        text-align: center;
        background-color: #615f5f38;
    }

    .descriçao {
        position: absolute;
        width: 100%;
        height: 410px;
        top: 930px;
        left: 0px;
    }
    
    .bot {
        display: flex;
        height: 400px;
        width: 80%;
        margin-left: 10%;
        background-color:rgb(218, 218, 218);
        border-radius: 20px;
        
    }
    #b1 {
        display: flex;       
        background-color: white;
        color: black;
        margin-top: 1%;
        margin-left: 2%;
        height: 370px;
        width: 266px;
        font-size: larger;
        border-radius: 20px;
          
    }

    #b2 {
        display: flex;
        background-color: white;
        color: black;
        margin-top: 1%;
        margin-left: 2%;
        height: 370px;
        width: 266px;
        font-size: larger;
        border-radius: 20px;
    }

    #b3 {
        display: flex;
        background-color: white;
        color: black;
        margin-top: 1%;
        margin-left: 2%;
        height: 370px;
        width: 266px;
        font-size: larger;
        border-radius: 20px;
    }

    #b4 {
        display: flex;
        background-color: white;
        color: black;
        margin-top: 1%;
        margin-left: 2%;
        height: 370px;
        width: 266px;
        font-size: larger;
        border-radius: 20px;
    }

    #b5 {
        display: flex;
        background-color: white;
        color: black;
        margin-top: 1%;
        margin-left: 2%;
        height: 370px;
        width: 266px;
        font-size: larger;
        border-radius: 20px;
    }

    #b1:hover {
        transform: scale(1.06);
        transition: transform 0.2s ease-in-out; 
    }

    #b2:hover {
        transform: scale(1.06);
        transition: transform 0.2s ease-in-out; 
    }

    #b3:hover {
        transform: scale(1.06);
        transition: transform 0.2s ease-in-out; 
    }

    #b4:hover {
        transform: scale(1.06);
        transition: transform 0.2s ease-in-out; 
    }

    #b5:hover {
        transform: scale(1.06);
        transition: transform 0.2s ease-in-out; 
    }


    #d1 {
        display: flex;
        margin-left: 40%;
    }

    #ds1 {
        display: flex;
        font-size: 16px;
        margin-top: 60px;
        margin-left: -150px;
    }

    #d2 {
        display: flex;
        margin-left: -50%;

    }

    #ds2 {
        display: flex;
        font-size: 16px;
        margin-top: 60px;
        margin-left: 65px;
    }

    #d3 {
        display: flex;
        margin-left:30%;
    }

    #ds3 {
        display: flex;
        font-size: 16px;
        margin-top: 60px;
        margin-left: -175px;
    }

    #d4 {
        display: flex;
        margin-left: 30%;
    }

    #ds4 {
        display: flex;
        font-size: 16px;
        margin-top: 60px;
        margin-left: -175px;
    }

    #d5 {
        display: flex;
        margin-left: 40%;
    }

    #ds5 {
        display: flex;
        font-size: 16px;
        margin-top: 60px;
        margin-left: -150px;
    }


    .rodape {
        display: flex;
        background-color: #000;
        height: 150px;
        width: 100%;
        position: absolute;
        left: 0;
        margin-top: 1150px;
      }
      
      footer {
        color: #fff;
        font-size: large;
        position:absolute;
        margin: 40px auto;
      }
      
.slider{
  margin-top: 50px;
  width: 860px;
  height: 550px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 550px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
}

.slide img{
  width: 960px;
  height: 550px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .05s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid #2f2f2f;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .05;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 510px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

.nome{
  display: flex;
  margin-top: 80px;
  justify-content: center; 
}

.nome h1{
  color: black;
  font-size: 52px;
}

.venda h2{
  display: flex;
  margin-top: 160px;
  justify-content: center;
  font-size: 30px;
  color: black;
  text-align: center;
}

.venda h3{
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  color: #615f5f;

}

.venda #p1{
  display: flex;
  margin-top: 90px;
  font-size: 40px;
  background-color: red;
  margin-left: 130px;
  border-radius: 20px;
}

.venda #btn-comp{
  background-color: black;
  margin-left: 260px;
  border-radius: 20px;
  height: 60px;
  width: 150px;;
  font-size: 30px;
}

